.my-navbar {
	background-color: black;
}

.my-navbar-div {
	padding-bottom: 10px;
}

.my-title {
	font-size: 24px;
}

.light-text {
	color: white;
}

.light-text:hover {
	color: lightblue;
}

.light-text:active {
	color: dodgerblue;
}

.nav-item {
	padding-left: 10px;
}
