<div class="window">
	<div class="row">
		<img id="img-character"
		     class="img-fluid"
		     [src]="character.img"
		     alt="Character Image"
		     style="max-height: 80px; max-width: 50px"
		/>
	</div>
	<div class="row">
		<div class="col-4">
			<label>Name :
				<input type="text" class="form-control" [(ngModel)]="character.name"/>
			</label>
			<label>Surname :
				<input type="text" class="form-control" [(ngModel)]="character.surname"/>
			</label>
			<label>Nickname :
				<input type="text" class="form-control" [(ngModel)]="character.nickname"/>
			</label>
			<label>Title :
				<input type="text" class="form-control" [(ngModel)]="character.title"/>
			</label>
		</div>
		<div class="col-4"> <!-- Will probably stay empty --></div>
		<div class="col-4">
			<!-- something something -->
			<p>Something like annexe type information ?</p>
		</div>
	</div>

</div>
